<div class="w-1/4 m-auto">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Firstname
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        required ngModel name="firstname" type="text" placeholder="Firstname">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Lastname
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text" placeholder="Lastname" ngModel name="Lastname">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">
        Email
      </label>
      <input email ngModel required name="email"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="email" placeholder="email">
    </div>



    <div class="mb-6">


      <label for="default" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Language</label>
      <select id="default"
        class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Please select a language</option>
        <option value="EN">English</option>
        <option value="DE">German</option>
        <option value="ES">Spanish</option>
        <option value="FR">French</option>
      </select>


    </div>
    <button
      ngClass="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Sign In
    </button>

  </form>

</div>
